﻿@model Deli_Menu.Models.FoodItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FoodItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServingSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServingSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServingsContained)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServingsContained)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalFat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalFat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaturatedFat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaturatedFat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransFat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransFat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colesterol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colesterol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sodium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sodium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCarbohydrate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCarbohydrate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DietaryFiber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DietaryFiber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSugars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSugars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedSugars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedSugars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Protien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Protien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calcuim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calcuim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iron)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iron)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.K)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.K)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thiamin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thiamin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ribolavin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ribolavin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Niacin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Niacin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Folate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Folate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.B12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.B12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biotin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biotin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PantothenicAcid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PantothenicAcid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phosphorus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phosphorus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iodine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iodine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Magnesium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Magnesium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zinc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zinc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Selenium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Selenium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Copper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Copper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manganese)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manganese)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chromium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chromium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Molybdenum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Molybdenum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chloride)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chloride)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredients)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
