﻿@model IEnumerable<Deli_Menu.Models.FoodItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServingSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServingsContained)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalFat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaturatedFat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransFat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colesterol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sodium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCarbohydrate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DietaryFiber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSugars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedSugars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Protien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calcuim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iron)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.K)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thiamin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ribolavin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Niacin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Folate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.B12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Biotin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PantothenicAcid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phosphorus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iodine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Magnesium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zinc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Selenium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Copper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manganese)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chromium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Molybdenum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chloride)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServingSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServingsContained)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalFat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaturatedFat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransFat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colesterol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sodium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCarbohydrate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DietaryFiber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSugars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedSugars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Protien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calcuim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iron)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.K)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thiamin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ribolavin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Niacin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Folate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Biotin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PantothenicAcid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phosphorus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iodine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Magnesium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zinc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Selenium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Copper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manganese)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chromium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Molybdenum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chloride)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
