﻿
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<p>This is a demonstration page for administrators. It contains links to management demonstration pages.</p>
<p>
    <ul>
        <li>@Html.ActionLink("Food Items", "Index", "FoodItems")</li>
        <li>@Html.ActionLink("Food Categories", "Index", "Categories")</li>
        <li>@Html.ActionLink("Food Category Relations", "Index", "FoodItemCategories")</li>
    </ul>
</p>

