﻿@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <div id="homeCarousel" class="carousel slide" style="width: 784px; margin-right: auto; margin-left: auto" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <li data-target="#homeCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="~/Content/Images/tuckin-holiday-party-2017-II.jpg" />
            </div>

            <div class="item">
                <img class="img-responsive" src="~/Content/Images/tuckin-holiday-platter-II.jpg" />
            </div>

            <div class="item">
                <img class="img-responsive" src="~/Content/Images/tuckin-plated-desserts.jpg" />
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#homeCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#homeCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>  
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to the menu for the Western Oregon University Deli</h2>
        <p>This site is currently under construction, feel free to check out our work-in-progress menu.</p>
    </div>
</div>