﻿@model Deli_Menu.Models.FoodItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4> @Html.DisplayFor(model => model.ItemName)</h4>
        <hr />
        <h5>@Html.DisplayFor(model => model.Calories) Calories</h5>
        <p>Servings per container: @Html.DisplayFor(model => model.ServingsContained)</p>
        <p><strong> Serving Size: @Html.DisplayFor(model => model.ServingSize)</strong></p>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TotalFat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalFat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SaturatedFat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SaturatedFat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TransFat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TransFat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Colesterol)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Colesterol)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sodium)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sodium)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalCarbohydrate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalCarbohydrate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DietaryFiber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DietaryFiber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalSugars)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalSugars)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AddedSugars)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddedSugars)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Protien)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Protien)
            </dd>
        </dl>
        <h5>Vitamins and Minerals</h5>
        <dl class="dl-horizontal">
            @*If there is vitamin A, render the information for it*@
            @if (Model.A != null)
             {

                    <dt>
                        @Html.DisplayNameFor(model => model.A)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.A)
                    </dd>
                }
            @*If there is vitamin C, render the information for it*@
            @if (Model.C != null)
             {
                <dt>
                    @Html.DisplayNameFor(model => model.C)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.C)
                </dd>
             }

            @*If there is Calcium, render the information for it*@
            @if (Model.Calcuim != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Calcuim)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Calcuim)
                </dd>
            }
            @*If there is Iron, render the information for it*@
            @if (Model.Iron != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Iron)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Iron)
                </dd>
            }
            @*If there is vitamin D, render the information for it*@
            @if (Model.D != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.D)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.D)
                </dd>
            }

            @*If there is vitamin E, render the information for it*@
            @if (Model.E != null) { 
                <dt>
                    @Html.DisplayNameFor(model => model.E)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.E)
                </dd>
            }

            @*If there is vitamin K, render the information for it*@
            @if (Model.K != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.K)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.K)
                </dd>
            }

            @*If there is Thiamin, render the information for it*@
            @if (Model.Thiamin != null) { 
                <dt>
                    @Html.DisplayNameFor(model => model.Thiamin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Thiamin)
                </dd>
            }

            @*If there is Ribolavin, render the information for it*@
            @if (Model.Ribolavin != null) { 
                <dt>
                    @Html.DisplayNameFor(model => model.Ribolavin)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Ribolavin)
                </dd>
            }
            @*If there is Niacin, render the information for it*@
            @if (Model.Niacin != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Niacin)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Niacin)
                </dd>
            }
            @*If there is Folate, render the information for it*@
            @if (Model.Folate != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Folate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Folate)
                </dd>
            }

            @*If there is vitamin B12, render the information for it*@
            @if (Model.B12 != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.B12)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.B12)
                </dd>
            }

            @*If there is Biotin, render the information for it*@
            @if (Model.Biotin != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Biotin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Biotin)
                </dd>
            }

            @*If there is Pantothenic Acid, render the information for it*@
            @if (Model.PantothenicAcid != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.PantothenicAcid)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PantothenicAcid)
                </dd>
            }
            @*If there is Phosphorus, render the information for it*@
            @if (Model.Phosphorus != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Phosphorus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phosphorus)
                </dd>
            }

            @*If there is Iodine, render the information for it*@
            @if (Model.Iodine != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Iodine)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Iodine)
                </dd>
            }
            @*If there is Magnesium, render the information for it*@
            @if (Model.Magnesium != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Magnesium)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Magnesium)
                </dd>
            }

            @*If there is Zinc render the information for it*@
            @if (Model.Zinc != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Zinc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Zinc)
                </dd>
            }
            @*If there is Selenium, render the information for it*@
            @if (Model.Selenium != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Selenium)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Selenium)
                </dd>
            }
            @*If there is Copper, render the information for it*@
            @if (Model.Copper != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Copper)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Copper)
                </dd>
             }
            @*If there is Manganese, render the information for it*@
            @if (Model.Manganese != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Manganese)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Manganese)
                </dd>
            }

            @*If there is Chromium, render the information for it*@
            @if (Model.Chromium != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Chromium)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Chromium)
                </dd>
             }
            @*If there is Molybdenum, render the information for it*@
            @if (Model.Molybdenum != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Molybdenum)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Molybdenum)
                </dd>
            }

            @*If there is Chloride, render the information for it*@
            @if (Model.Chloride != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Chloride)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Chloride)
                </dd>

             }
        </dl>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Ingredients)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ingredients)
            </dd>

        </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Menu")
</p>
