﻿@model IEnumerable<PluralSightAPI.Models.PluralSightCourse>
@{
    ViewBag.Title = "Update";
}

<h2>Live Index of Courses</h2>
<h3>Currently there are @ViewBag.Count courses available.</h3>
<table class="table table-hover">
    <thead>
        <tr>
        <tr class="table-primary">
            <!-- 1 -->
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <!-- 2 -->
            <th>
                @Html.DisplayNameFor(model => model.CourseTitle)
            </th>
            <!-- 3 -->
            <th>
                @Html.DisplayNameFor(model => model.DurationInSeconds)
            </th>
            <!-- 4 -->
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <!-- 5 -->
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <!-- 6 -->
            <th>
                @Html.DisplayNameFor(model => model.AssessmentStatus)
            </th>
            <!-- 7 -->
            <th>
                Course Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr @((item.IsCourseRetired) ? "class=\"text-danger\"" : "")>
                <td>@Html.DisplayFor(modelItem => item.CourseID)</td>
                <td>@Html.DisplayFor(modelItem => item.CourseTitle)</td>
                <td>@(Convert.ToString(item.DurationInSeconds / 3600) + ((item.DurationInSeconds / 3600 == 1) ? " Hour" : " Hours"))</td>
                <td>@item.ReleaseDate.Value.ToShortDateString()</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.AssessmentStatus)</td>
                <td>@((item.IsCourseRetired) ? "Retired" : "Active")</td>
            </tr>
        }
    </tbody>
</table>

